<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey</title>
</head>
<body>
<form action="#" method="post" class="form-horizontal">
    <h1>Midterm Survey</h1>
    <!-- get Midterm username -->
    <div class="form-group">
        <label for="name" class="col-sm-4 control-label">Name</label>
        <div class="col-sm-4"><input class="form-control" type="text"
                                     name="name" id="name" >
        </div>
    </div>
    <br>

    <!-- get checkboxes -->
    <div class="form-group">

        <label class="col-sm-4 control-label">Check all that apply</label>
        <div class="col-sm-4">
            <repeat group="{{ @box }}" value="{{ @boxValue }}">
                <label><input type="checkbox" name="box[]" value="{{ @boxValue }}"> {{ ucfirst(@boxValue) }} </label><br>
            </repeat>
        </div>
    </div>
    <br>

    <!-- submit button -->
    <div class="col-xs-3 ">
        <button class="btn btn-primary"  type="submit">Next</button>
    </div>
</form>
</body>
</html>